.solutionContainer{
  border-style: solid;
  border-color: black;
  border-width: 4px;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
  margin-left: 10%;
  margin-right: 10%;
}

.methodContainerAccepted{
  background-color: rgb(6, 170, 6);
  color: white;
  padding: 5px;
  margin: 0;
  justify-content: center;
  border-radius: 5px;
  /* width: 80%; */
}

.methodContainerNotAccepted{
  background-color: tomato;
  color: white;
  padding: 5px;
  margin: 0;
  justify-content: center;
  border-radius: 5px;
  /* width: 80%; */
}

.codeContainer{
  max-height: 600px;
}